canvas{border: 1px solid #000;}
body{background-image: url(0.jpg); cursor: pointer;}
#buttons {
  position: absolute;
  top: 5px;
  left: 10px;
}
#reset,#undo,#redo,#eraser,#brush {
  margin-top: 10px;
  margin-left: 5px;
  text-align: right;
}
.color {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
  margin-left: 5px;
  cursor: pointer;
  border: 1px solid #000;
  text-align: center;
}
#width_selector{
  position: absolute;
  top: 2%;
  left: 40%;

}
#color_selector{
  position: absolute;
  top: 92%;
  left: 38%;

}
#file{
  position: absolute;
  top: 94%;
  left: 2%;

}
#three {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: white;
  border: 2px solid gray;
  border-radius: 10px;
  cursor: pointer;
}

#five {
  position: absolute;
  top: 4.7%;
  left: 53.7%;
  width: 13px;
  height: 13px;
  background: white;
  border: 2px solid gray;
  border-radius: 13px; 
  cursor: pointer;
}

#ten {
  position: absolute;
  top: 4.31%;
  left: 58%;
  width: 16px;
  height: 16px;
  background: white;
  border: 2px solid gray;
  border-radius: 16px; 
  cursor: pointer;
}

#fifteen {
  position: absolute;
  top: 3.9%;
  left: 62%;
  width: 19px;
  height: 19px;
  background: white;
  border: 2px solid gray;
  border-radius: 19px; 
  cursor: pointer;
}

#twenty {
  position: absolute;
  top: 3.5%;
  left: 66.5%;
  width: 22px;
  height: 22px;
  background: white;
  border: 2px solid gray;
  border-radius: 22px; 
  cursor: pointer;
}
#red {
  position: absolute;
  top: 93%;
  left: 48%;
  background-color: red;
}
#blue {
  position: absolute;
  top: 93%;
  left: 56%;
  background-color: blue;
}
#green {
  position: absolute;
  top: 93%;
  left: 54%;
  background-color: green;
}
#purple {
  position: absolute;
  top: 93%;
  left: 58%;
  background-color: purple;
}
#yellow {
  position: absolute;
  top: 93%;
  left: 52%;
  background-color: yellow;
}
#orange {
  position: absolute;
  top: 93%;
  left: 50%;
  background-color: orange;
}
#pink {
  position: absolute;
  top: 93%;
  left: 60%;
  background-color: pink;
}
#black {
  position: absolute;
  top: 93%;
  left: 64%;
  background-color: black;
}
#white {
  position: absolute;
  top: 93%;
  left: 62%;
 background-color: white;
}
